.sub-section {
    font-style: italic;
}

@media screen and (min-width:320px) and (max-width:768px) {
    .alert-info {
        display: flex;
        border: solid 1px lightgray;
        justify-content: center;
        background-color: paleturquoise;
        padding: 15px;
    }
    h1 {
        text-align: center;
    }
    div > a {
        text-decoration: none;
        color: black;

    }
    img {
        width: 100%;
    }
    .nav-links {
        padding-left: 0;
    }
    .nav-links > li {
        display: flex;
        padding: 10px;
        margin-top: 10px;
        justify-content: center;
        background-color: lightgray;
        list-style-type: none;

    }

}




@media screen and (min-width:769px) and (max-width:4000px) {
    .alert-info {
        display: none;
    }

    h1 {
        display: flex;
        width: 200px;
        align-items: start;
        margin-right: 0;
        flex-direction: column;
        float: left;
    }

    .nav-links {
        /*!*float: top;*!*/
        display: flex;
        /*flex-direction: row;*/
        justify-content: right;
        list-style: none;

    }

    .nav-links > li > a {
        display: flex;
        margin: 10px;
        padding-top: 25px;
        alignment: bottom;
    }

    img {
        width: 100%;
    }
    .main{
        width: 50%;
        display: flex;
        float: left;
        flex-wrap: wrap;
    }
    section{
    width: 50%;
    display: flex;
    float: right;
    flex-wrap: wrap;
}
}